/* CSS/Theme Variables */
:root {
  /* Font Weights */
  --default-font-weight: normal;
  --bold-font-weight: bold;
  /* Font Colors */
  --sui-description-color: #9a9fa5;
  /* Font Sizes */
  --h1-font-size: 26px;
  --h2-font-size: 21px;
  --h3-font-size: 23px;
  --h5-font-size: 18px;
  --small-text-font-size: 11px;
  --field-label-font-size: 13px;
  /* Background Colors */
  --bg-transparent: transparent;
}

/* Utility Classes */
.ut_border_none {
  border: 0 !important;
}

/* Forms */
.sui-description {
  font-size: var(--small-text-font-size);
  font-weight: var(--default-font-weight);
  color: var(--sui-description-color);
}

.ui.form .grouped.fields {
  position: relative;
  margin: 0 0 2.5rem 0;
}

.ui.form .grouped.fields label {
  font-size: var(--field-label-font-size);
  font-weight: var(--default-font-weight);
  text-transform: uppercase;
}

/* Validation Messages */
.ui.red.pointing.above.small.basic.label {
  position: absolute;
  top: 2.1em;
  right: 0;
  margin: 0;
  padding-top: .35em;
  padding-bottom: .25em;
  background-color: rgba(235, 11, 11, .20) !important;;
  border-color: rgba(235, 11, 11, .20) !important;
  border-top: 0;
  border-right: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: var(--default-font-weight);
}

.ui.red.pointing.above.small.basic.label > .ui.bulleted.list {
  margin-left: 0;
}

.ui.red.pointing.above.small.basic.label:before,
.ui.red.pointing.above.small.basic.label > .ui.bulleted.list .item:before {
  display: none;
}

/* Headers */
h1.ui.header.top.attached.mastHead {
  border-radius: 0;
  padding: 2rem 1.5rem;
  background: rgb(43, 43, 43);
}

h1.ui.header {
  font-size: var(--h1-font-size);
  font-weight: var(--default-font-weight);
}

h3.ui.header {
  font-size: var(--h3-font-size);
  font-weight: var(--default-font-weight);
  border-bottom-color: #4d4d4d !important;
  border-bottom-style: dotted !Important;
}

.ui.header.titleHeader {
  background-color: var(--bg-transparent) !important;
  padding: 3rem 0 0 3rem;
  margin: 0 0 0 0;
}

h5.ui.header,
h5.ui.header.dividing {
  font-size: var(--h5-font-size);
  font-weight: var(--default-font-weight);
  border-bottom-color: #4d4d4d !important;
  border-bottom-style: dotted !Important;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
}

.ui.form.rjsf .grouped.fields .grouped.fields:first-child .ui.header.dividing {
  margin-top: 0;
}
/* Buttons in Forms */
.ui.form .ui.button.primary:last-child {
  margin-top: 1rem;
}

/* Buttons */
.ui.button {
  font-weight: var(--default-font-weight);
  line-height: normal;
  padding: .75em 1.5em .75em 1.5em;
}
/* Sidebar Vertical Menu */
.ui.wide.left.sidebar,
.ui.wide.right.sidebar {
  width: 250px;
}

.ui.visible.wide.left.sidebar ~ .fixed,
.ui.visible.wide.left.sidebar ~ .pusher {
  transform: translate3d(250px, 0, 0);
}

/* Grid Overrides */
.ui.grid.mainlayout {
  padding: 2rem;
  margin: 0;
  min-width: 1024px;
  max-width: 1440px;
  width: calc(100vw - 240px);
}
